@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Hubballi', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(245,243,245);
  background: linear-gradient(135deg, rgba(245,243,245,1) 0%, rgba(223,223,246,1) 100%);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body p, body h1, body h2, body h3, body h4, body h5, body a {
  margin: 0;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #696969;
}
::-webkit-scrollbar-thumb:active {
  background: #a8a8a8;
}
::-webkit-scrollbar-track {
  background: #ffffff00;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}