.card {
    height: 100%;
    border: 1px solid rgb(192, 192, 192) !important;
    min-width: 240px;
}

button {
    border: 0;
}

.col {
    padding: 0.5rem !important;
}

#template {
    padding: 0.5rem;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

@media (max-width: 785px) {
.card {
    min-width: 400px !important;
}
}

@media (max-width: 420px) {
.card {    
    min-width: 300px !important;
}
}